<div class="header-secondary">
	<div class="row">
		<div class="col-xs-12">
			<div class="user-logo user-logo--m">
				<a href="{{@blog.url}}" class="user-logo-text">rm</a>
			</div>
		</div>
	</div>
</div>