<header class="col-sm-8 col-sm-offset-2">
	<div class="user-logo user-logo--l">
	  <a href="#" class="user-logo-text">rm</a>
	</div>
	<h1>Front End Development <br>&<br> Challenges</h1>
	<h3 class="blog-author-info">
		Written by
		<a href="http://ritesh.it">Ritesh Manchanda</a>
	</h3>
</header>