// Core variables and mixins
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Core CSS
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";

// Utility classes
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";


@import '../../../../../../../patterns/source/styles/patterns';

@import 'vendor/prism';

html, body {
  background-color: #FAFAFA;
}

body {
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
}

p {
  letter-spacing: 0;
  color: darken($neutral, 30%);
  line-height: 28px;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: none;
  margin: {
    top: 30px;
    bottom:20px;
  }
}

/* home post section */
header {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;

  h1 {
    font-size: 36px;
    line-height: 46px;
  }

  .user-logo {
    margin-left: auto;
    margin-right: auto;
  }
}

.post-header {
  margin-top: 0;
}

/* single post page */
.header-secondary {
  .user-logo {
    margin: 20px auto;
  }
}

p img {
  max-width: 100%;
}

.meta--alt {
  .meta-tags {
    margin-left: 0;
    margin-top: 10px;
  }
}

.pagination {
  margin-top: 40px;
  margin-bottom: 40px;
}

blockquote {
  border-left: 5px solid lighten($primary, 30%);
  padding-left: 20px;

  &, p {
    text-transform: uppercase;
  }
}

pre[class*='language-'] {
  &, > code[data-language]:before {
    border-radius: 0;
  }
}