// Core variables and mixins
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Core CSS
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";

// Utility classes
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";


@import '../../../../../../../patterns/source/styles/patterns';

@import 'vendor/prism';

html, body {
  min-height: 100vh;
  background-color: #FAFAFA;
}

body {
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
}

p {
  letter-spacing: 0;
  color: darken($neutral, 30%);
  line-height: 28px;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: none;
  margin: {
    top: 30px;
    bottom:20px;
  }
}

/* home post section */
header {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;

  h1 {
    font-size: 36px;
    line-height: 46px;
  }

  .user-logo {
    margin-left: auto;
    margin-right: auto;
  }
}

.post-header {
  margin-top: 0;
}

/* single post page */
.header-secondary {
  .user-logo {
    margin: 20px auto;
  }
}

p img {
  max-width: 100%;
}

.meta--alt {
  .meta-tags {
    margin-left: 0;
    margin-top: 10px;
  }
}

.pagination {
  margin-top: 40px;
  margin-bottom: 40px;
}

blockquote {
  border-left: 5px solid lighten($primary, 30%);
  padding-left: 20px;

  &, p {
    text-transform: uppercase;
  }
}

pre[class*='language-'] {
  &, > code[data-language]:before {
    border-radius: 0;
  }
}

/*pagination*/
.pagination {
  position: relative;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
}

.older-posts, .newer-posts {
  position: absolute;
  display: inline-block;
}

.older-posts {
  right: 0
}

.page-number {
  display: inline-block;
}

.newer-posts {
  left: 0
}

/* font awesome icons */
$fa-font-size-base:   14px !default;
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts" !default; // for referencing Bootstrap CDN font files directly
$fa-css-prefix:       fa !default;
$fa-version:          "4.3.0" !default;

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
  url('#{$fa-font-path}/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
  url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
  url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
  url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
  //  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}


.#{$fa-css-prefix} {
  display: inline-block;
  font: normal normal normal #{$fa-font-size-base}/1 FontAwesome; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); // ensures no half-pixel rendering in firefox

}

$fa-var-chevron-circle-down: "\f13a";
$fa-var-chevron-circle-left: "\f137";
$fa-var-chevron-circle-right: "\f138";
$fa-var-chevron-circle-up: "\f139";

.#{$fa-css-prefix}-chevron-circle-left:before { content: $fa-var-chevron-circle-left; }
.#{$fa-css-prefix}-chevron-circle-right:before { content: $fa-var-chevron-circle-right; }
.#{$fa-css-prefix}-chevron-circle-up:before { content: $fa-var-chevron-circle-up; }
.#{$fa-css-prefix}-chevron-circle-down:before { content: $fa-var-chevron-circle-down; }